.corpopagina{
	background-color:antiquewhite;
}

.titulo{
	color:rgb(0, 153, 255);
	text-align: center;
}

.paragrafo{
	font-size:large;
	text-align: justify;
}

.lista{
	line-height:150%;
}

.img_musica{
	border-radius: 10px;
}

.img_leitura{
	border-radius: 10px;
}

.img_palavras{
	border-radius: 10px;
}

.tabela{
	border: 3px;
	border-style:inset;
	border-radius: 10px;
	border-color: rgb(0, 153, 255);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.tabela tr:hover{
	background-color: rgb(0, 153, 255);
}

.tabela th:hover{
	font-weight:lighter;
	font-style: italic;
}

.imagemnordeste:hover{
	transform: scale(1.2);
}

.imggrecia:hover{
	transform: scale(1.2);
}

.imgcostarica:hover{
	transform: scale(1.2);
}

.linkmpb:hover{
	font-size: larger;
	color:rgb(0, 153, 255);	
}

.linkia:hover{
	font-size: larger;
	color:rgb(189, 11, 55);	
}

.linkfilmes:hover{
	font-size: larger;
	color:rgb(8, 128, 4);	
}